asgiref==3.8.1
asttokens==2.0.1  # Reemplaza la ruta local con la versión estándar
colorama==0.4.6  # Usa la versión estándar
comm==0.1.2  # Usa la versión estándar
debugpy==1.6.0  # Usa la versión estándar
decorator==5.1.1  # Usa la versión estándar
Django==4.2.16
django-grappelli==4.0.1
et-xmlfile==1.1.0
exceptiongroup==1.0.0  # Usa la versión estándar
executing  # Usa la versión estándar
importlib_metadata # Usa la versión estándar
ipykernel  # Usa la versión estándar
ipython==8.15.0  # Usa la versión estándar
jedi==0.18.2  # Usa la versión estándar
jupyter_client==8.2.0  # Usa la versión estándar
jupyter_core==5.2.0  # Usa la versión estándar
matplotlib-inline==0.1.6  # Usa la versión estándar
mysql==0.0.3
mysql-connector==2.2.9
mysql-connector-python==9.0.0
mysqlclient==2.2.4
nest_asyncio==1.5.4  # Usa la versión estándar
numpy==2.0.2
openpyxl==3.1.5
packaging==23.2  # Usa la versión estándar
pandas==2.2.2
parso==0.8.3  # Usa la versión estándar
pickleshare==0.7.5  # Usa la versión estándar
platformdirs==3.7.0  # Usa la versión estándar
prompt_toolkit==3.0.38  # Usa la versión estándar
psutil==5.9.0  # Usa la versión estándar
pure_eval==0.2.2  # Usa la versión estándar
Pygments==2.16.1  # Usa la versión estándar
PyMySQL==1.1.1
python-dateutil==2.8.2  # Usa la versión estándar
pytz==2024.1
pywin32==306
pyzmq==24.0.1  # Usa la versión estándar
six==1.16.0  # Usa la versión estándar
sqlparse==0.5.1
stack-data==0.6.0  # Usa la versión estándar
toml==0.10.2
tornado==6.3.2  # Usa la versión estándar
traitlets==5.9.0  # Usa la versión estándar
typing_extensions==4.6.3  # Usa la versión estándar
tzdata==2024.1
wcwidth==0.2.6  # Usa la versión estándar
zipp==3.15.0  # Usa la versión estándar

